body{
  margin: 0;
  padding: 0; 
}

nav {
  width: 100%;
  display: inline-block;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.hamburger {
  height: 20px;
  width: 20px;
  padding: 20px;
  float: right;
  cursor: pointer;
}

.hamburger:before {
  content: "";
  display: block;
  background-color: #f3f3f3;
  width: 100%;
  height: 4px;
}

.hamburger:after {
  content: "";
  display: block;
  background-color: #f3f3f3;
  width: 100%;
  height: 4px;
  margin-top: 4px;
  box-shadow: 0px 8px 0 #f3f3f3;
}

.menu {
  background-color: #2b2b2b;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  clear: both;
  transition: max-height 0.3s cubic-bezier(0.63, 0, 0.25, 1);
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.menu li {
  display: block;
  margin: 0;
  text-align: center;
}

.menu a {
  color: white;
  display: block;
  padding: 0.4em;
}

nav input[type="checkbox"]:checked ~ .menu {
  max-height: 150px;
  border-bottom: #404040 5px solid;
}

nav a:hover,
nav a:focus,
nav label:hover,
nav label:focus {
  background-color: #070707;
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }

  .menu {
    background: transparent;
    float: right;
    border: 0 !important;
    max-height: none;
  }

  .menu ul,
  .menu li,
  .menu li a {
    display: inline-block;
  }

  .menu a {
    display: inline-block;
    padding: 15px 1em;
    text-decoration: none;
  }
}

.hidden {
  position: fixed;
  top: -100%;
  left: -100%;
}

#logo {
  margin-top: 8px;
  margin-left: 30px;
}

/*#buscar,#btnbuscar{
  display: none;
}*/

/********************header****************************/
header {
  text-align: center;
}

main{
 
 background: url(../img/bg.gif);
 background-size:cover; 
  height: 100vh;
}

/***************Articl de information*****************************/
#cityInfo {
  border: 1px solid #5f8093;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background: #16394c;
  color: #ffffff;
  text-align: center;
  margin: 23px;
  
}

#cityInfo,
li {
  list-style: none;
}

#cityCountry {
  font-family: "Courier New", Courier, monospace;
}

#cityInfoList1, #cityInfoList2{
  display: inline-block;
  margin: 20px;
  font-size: 17px
}

#cityInfoList2 ,li{
margin-top: 20px
}

#display1{
  display: block;
}

/****************************css de map***************************************/
.infoymapa{
  display: flex;
  padding: 80px;
 
}

.map{
  width: 500px;
  height: 300px;
  border-radius: 10px ;
  margin: 23px;
}

/*****************************css de events***********************************/
.events{
  width: 500px;
  height: 400px;
  border-radius: 10px ;
  margin: 23px;
  background: #f3f3f3;
  border: 2px solid #000000;
  font-family: "Courier New", Courier, monospace; 
}

/*****************************css de evntos y news ******************************************/
.eventosynews {
  display: flex;
  padding: 80px;
  margin-top: -170px

}

/*******************************css de news******************************************/
.news{
  width: 500px;
  height: 400px;
  border-radius: 10px ;
  margin: 23px;
  border: 2px solid #000000;
  background: #f3f3f3;
}

/**************************css de input********************************/
.search{
  border: 1px solid #DBE1EB;
  font-size: 15px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
}

.search:focus {
  color: #2E3133;
  border-color: #FBFFAD;
}

/******************************css de btn******************************************/
#searchButton {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  width: 150px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  cursor: pointer;
}

#searchButton:hover{
  color: #1883ba;
  background-color: #ffffff;
}

#display2{
  display: none;
}

/*.hideDisplay {
  display: none;
}

.showDisplay {
  display: block;
}*/

lh {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vh;
}